.feed__inputOption {
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: gray;
  cursor: pointer;
  padding: 16px 10px;
}

.feed__inputOption:hover {
  color: black;
  background-color: whitesmoke;
  border-radius: 10px;
}
