.sidebar {
  position: sticky;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}
.sidebar__avatar {
  margin-bottom: 10px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__top > img {
  margin-bottom: -20px;
  height: 70px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar__top > h4 {
  font-size: 12px;
  color: gray;
}

.sidebar__top > h2 {
  font-size: 15px;
  margin-bottom: 4px;
}

.sidebar__stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.sidebar__stat {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

.sidebar__statNumber {
  font-weight: bold !important;
  color: rgba(40, 40, 177, 0.76) !important;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  margin-top: 10px;
}

.sidebar__bottom > p {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}

.sidebar__recentItems {
  display: flex;
  padding: 5px;
  color: gray;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}

.sidebar__hash {
  margin-right: 5px;
}

.sidebar__recentItems:hover {
  color: black;
}
